//Reds
$error-red: #d43334;
//Whites
$eggshell: #fdf5ea;
//Browns
$darkbrown: #2d1a0c;
$brown: #472812;
//Blues
$turqoise: #23d160;
$skyblue: #3bb6ff;
$tealish: #4ef4ad;
//Greens
$green: #61be1a; 
$limegreen: #a9da20;
$brightforestgreen:	#00b60d;
$bluegreen:	#0da163;
//Green Tea Greens
$lightest-greentea: #bcdb90;
$lighter-greentea: #a9ce7f;
$light-greentea: #9bc16f;
$medium-greentea: #8aa95d;
$dark-greentea: #739c4c;

.login-outer-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, lighten($bluegreen, 35%), lighten($skyblue, 25%));
	.matte {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.1);
		.login-container {
			background: #ffffff;
			width: 20em;
			border-radius: 12px;
			margin: 50px 0 50px 0;
			.signInForm {
				padding: 3em;
				h2 {
					margin: 0;
					margin-bottom: .7em;
					font-family: 'Open Sans', sans-serif;
				}
				.form-container {
					.input-wrapper {
						border: 2px solid rgba(0, 0, 0, 0.1);
						border-radius: 5px;
						padding: .5em 1em;
						margin-bottom: .8em;
						input {
							border-width: 0;
							padding: 0;
							margin: 0;
							width: 100%;
							outline: none;
							font-family: 'Roboto', Arial, Verdana, sans-serif;
							font-size: 1.1em;
							color: #666;
						}	
					}
					button {
						border: none;
						border-radius: 25px;
						background-color: lighten($skyblue, 10%);
						color: #ffffff;
						font-family: 'Open Sans', sans-serif;
						font-size: 1.2em;
						padding: .6em;
						width: 100%;
					}
					button:hover {
						background: darken($skyblue, 10%);
						color: #ffffff;
						cursor: pointer;
						transition: all .3s ease;
					}	
				}
			}
			.signInFooter {
				padding: 7%;
				background: #888;
				border-radius: 0 0 10px 10px;
				display: flex;
				justify-content: center;
				text-decoration: none;
				font-family: 'Didact Gothic', sans-serif;
				color: #ffffff;
			}
			.signInFooter:hover {
				background: darken(#888, 20%);
				transition: all .5s ease;
				color: #ffffff;
			}
		}
	}
}


.focused {
	border: 2px solid $limegreen;
	border-radius: 5px;
	padding: .5em 1em;
	margin-bottom: .8em;
	input {
		border-width: 0;
		padding: 0;
		margin: 0;
		width: 100%;
		outline: none;
		font-family: 'Roboto', Arial, Verdana, sans-serif;
		font-size: 1.1em;
		color: #666;
	}		
}


